<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asisinfo.datasource.demo.mapper.RobotInfoMapper">
    <select id="queryRobotInfoByRobotCode" parameterType="String" resultType="com.asisinfo.datasource.demo.domain.RobotInfo">
        select robot_code, robot_name, robot_age, create_date, status, remark from robot_info
          where robot_code = #{robotCode}
    </select>

    <update id="updateRobotNameByRobotCode" parameterType="com.asisinfo.datasource.demo.domain.RobotInfo">
        update robot_info set robot_name = #{robotName} where robot_code = #{robotCode}
    </update>

</mapper>